.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 17px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    color: white;
  }
  
  .navbar-container a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
  }
  
  .navbar-container a:hover {
    color: #ff6ec7;
    text-shadow: 0 0 5px #ff6ec7;
  }
